@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+4:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  background-color: rgb(212, 129, 142);

  font-family: "Libre Baskerville", serif;
  height: 100vh;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 20px;
  padding: 33px 0;
  font-weight: bold;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  /* background-color: yellow; */
  width: 90vw;
}
.container {
  display: flex;
}
.infocontainer {
  background-color: rgb(164, 235, 229);
  height: 99vh;
  width: 80vw;
  margin: 0 175px;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
}
.hello {
  font-size: 15px;
  font-weight: bold;
  margin-top: 23px;
}
.name {
  font-size: 35px;
  font-weight: bold;
  margin-top: 23px;
}
.about {
  font-size: 15px;
  font-weight: bold;
  margin-top: 23px;
}
.moreabout {
  font-size: 15px;
  font-weight: bold;
  margin-top: 23px;
}
.btn {
  margin-top: 34px;
}
.btn button {
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: rgb(11, 12, 12);
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
  margin: 0 3px;
  cursor: pointer;
}
.btn-sm {
  padding: 7px 10px;
  font-size: 11px;
  color: white;
  background-color: rgb(11, 12, 12);
  font-family: "Libre Baskerville", serif;
  border-radius: 20px;
  margin: 0 3px;
  cursor: pointer;
}
.btn:hover {
  color: rgb(11, 12, 12);
  background-color: white;
}

.devPic img {
  padding-top: 85px;
  height: 58vh;
}
/*contactform*/

.contactform {
  background-color: rgb(164, 235, 229);
  padding: 147px 34px;
  padding-top: 90px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  margin: 0 176px;
}
.contactform h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 22px;
  padding: 2px 0;
}
.contactform form div {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  width: 25vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp {
  font-size: 12px;
  color: rgb(209, 20, 36);
  margin: 0 5px;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
/*Blogitem*/

.blogcontainer {
  background-color: rgb(164, 235, 229);
    margin: 0 177px;
    padding-top: 4px;
}
.blogcontainer h1 {
  margin: 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
}

.blogitem h2 {
  font-family: "Libre Baskerville", serif;
  margin: 30px;
  font-size: 20px;
}
.blogitem p {
  font-family: "Libre Baskerville", serif;
  margin: 30px;
  font-size: 15px;
}
/*My intro tab*/

.intro {
  margin: 0 177px;
  background-color: rgb(164, 235, 229);
}

.intro h2 {
  font-family: "Libre Baskerville", serif;
  margin: 12px;
  padding: 5px;
}
.intro p {
  font-family: "Libre Baskerville", serif;
  margin: 12px;
  padding: 5px;
}
.skillcontainer {
  padding: 5px;
  font-family: "Libre Baskerville", serif;
  margin: 10px;
}
.skillitem {
  display: flex;
  align-items: center;
}
.skill {
  width: 250px;
  height: 7px;
  background-color: Black;
  margin-left: 10px;
  margin-right: 10px;
}
.hundred {
  width: 250px;
}
.fifty {
  width: 125px;
}
.sixty {
  width: 145px;
}
.eighty {
  width: 200px;
}
.seventy {
  width: 180px;
}

.resumecontainer {
  margin: 100px;
  padding: 100px;
}

.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.cross {
  margin-left: 130px;
}

@media (max-width: 1250px) {
  /**{
       background-color: rgb(124, 205, 207);
    }*/
  .devPic {
    display: none;
  }
  .infocontainer,
  .intro,
  .blogcontainer,
  .contactform {
    margin: 50px 8px;
  }

  /* .sidebar{
      transform: translate(-443px, 0px);
      position: absolute;
  }*/
}
